.blog-header {
  text-align: center;
  margin-top: 50px;
}

.blog-description {
  text-align: center;
  font-size: 20px;
  color: gray;
  margin-bottom: 20px;
}

.blog-image {
  text-align: center;
  margin-bottom: 30px;
}

.blog-image img {
  height: 300px;
}

.blog-content {
  padding: 0 200px;
}